<div id="logo-section">
  <h1>Fugu</h1>
  <p>Personal Cost Tracker</p>
</div>

<div id="selection-section">
  <button id="create-spreadsheet">Create Spreadsheet</button>
  <% @spreadsheets.each do |s| %>
    <button id="edit-<%=s.id%>">Edit <%= s.name %></button>
  <% end %>
</div>

<%= content_tag :div,
  id: "root",
  data: {
    categories: @spreadsheet.get_categories,
    income: @spreadsheet.get_income,
    expenses: @spreadsheet.get_expenses,
    totalIncome: @spreadsheet.calculate_balance[:income],
    totalExpense: @spreadsheet.calculate_balance[:expense],
    balance: @spreadsheet.calculate_balance[:total]
}.to_json do %>
<% end %>

<%= @items.each do |x| %>
  <div><%= x %></div>
<% end %>
