<div id="logo-section">
  <h1>Welcome to Fugu</h1>
  <p>Personal Cost Tracker</p>
  <% unless current_user %>
    <div>
      Fugu is a cost tracker made with ReactJS and Rails. The main cost tracker is a single-page application that keeps track of income and expenses.
    </div>
    <div class="preview-div">
      <%= link_to "Preview", spreadsheet_preview_path, class: "btn btn-default", 'data-turbolinks': false %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <div id="selection-section" class="center-box center-text">
    <%= link_to new_spreadsheet_path, class: "btn btn-default" do %>
      Create a Spreadsheet
    <% end %>
    <% if @spreadsheets.length > 0 %>
      <h4>Your Spreadsheets</h4>
        <div class="spreadsheet-select-box select-header">
          <div>NAME</div>
          <div>ITEMS</div>
          <div>BALANCE</div>
        </div>
        <% @spreadsheets.each do |s| %>
          <%= link_to spreadsheet_path(s), method: :get do %>
            <div class="spreadsheet-select-box select-body">
              <div><%= s.name %></div>
              <div><%= s.items.where(is_expense: true).length %></div>
              <div><%= s.balance_in_readable_format(s.calculate_balance[:total]) %></div>
            </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
