<div class="center-box">
  <% if @results.present? %>
    <h2>Results</h2>
    <div id="user-dashboard">
      <div id="selection-section" class="center-box center-text">
        <div class="spreadsheet-select-box select-header">
          <div>NAME</div>
          <div>ITEMS</div>
          <div>AMOUNT</div>
        </div>
        <% @spreadsheets.each do |s| %>
          <div class="spreadsheet-select-box select-body" data-spreadsheet-id="<%= s.id %>">
            <div><%= s.name %></div>
            <div><%= @results[s.id][:item_count] %></div>
            <div><%= number_to_currency(@results[s.id][:amount], unit: "¥", precision: 0) %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2>Search</h2>
  <% if @categories.length > 1 %>
    <div class="form-div">
      <%= form_tag search_path do %>
        <div class="form-field">
          <% @categories.each do |category| %>
            <% if category.name != "income" %>
              <label class="checkbox-label">
                <% checked = category.spreadsheets.count > (current_user.spreadsheets.count / 2) %>
                <%= radio_button_tag "search_category[]", "#{category.name}", checked, {multiple: true} %>
                <%= category.name.capitalize %>
              </label>
            <% end %>
          <% end %>
        </div>
        <%= submit_tag "Category Trend", class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="form-div">
      <%= form_tag search_path do %>
        <div class="form-field">
          <%= label_tag "Search Word" %>
          <%= text_field_tag "search_field[]" %>
        </div>
        <div class="form-field">
          <%= label_tag "Search Word" %>
          <%= text_field_tag "search_field[]" %>
        </div>
        <div class="form-field">
          <%= label_tag "Search Word" %>
          <%= text_field_tag "search_field[]" %>
        </div>
        <%= submit_tag "Word Trend", class: "btn btn-default" %>
      <% end %>
    </div>
  <% end %>
</div>
