<%= form_for @spreadsheet do |f| %>
  <div class="form-div">
    <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-field">
      <%= f.label :currency %>
      <label class="radio-label">
        Japanese Yen
        <%= f.radio_button :currency, 'JPY', checked: true %>
        Canadian Dollar
        <%= f.radio_button :currency, 'CDN' %>
      </label>
    </div>
    <% if @categories.length > 1 %>
      <div class="form-field">
        <label>Load Categories</label>
        <% @categories.each do |category| %>
          <% if category.name != "income" %>
            <!-- LOADING DEFAULTS CODE HERE -->
            <!-- <label>
              <%# category.name %>
              <%# f.check_box :currency, {}, "#{category.name}" %>
            </label> -->
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="form-field">
      <%= f.submit %>
    </div>
  </div>
<% end %>
