<!DOCTYPE html>
<html>
  <head>
    <title>Fugu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'spreadsheet' %>
    <%= stylesheet_pack_tag 'spreadsheet' %>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">

  </head>

  <body>
    <div class="navbar">
      <% if params[:action] == "show" %>
        <div class="left-panel">
          <%= link_to "Home", root_url %> |
          <%= link_to "New Spreadsheet", new_spreadsheet_path %> |
          <%= link_to "Delete Spreadsheet", @spreadsheet, method: :delete, data: {confirm: "This action will erase all data from this spreadsheet, and is irreversible. Are you sure?"} %>
        </div>
      <% end %>
      <div class="right-panel">
        <% if current_user %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </div>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% elsif flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
